# Environment
.env
.env.*
!.env.example
*.pem
*.p12
*.key
id_rsa
id_rsa.pub
credentials*.json
service-account*.json
*.env.local
.env.local
.env.development
.env.production
.env.test

# Node
node_modules
dist
build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode
.idea
.DS_Store

# Build / Cache
.next
.turbo
