name: Deploy Bot

# Quando o workflow vai rodar
on:
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Clonar o repositório
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2️⃣ Configurar Git (para evitar erro de autor)
      - name: Configure Git author
        run: |
          git config user.name "vgabrielk"
          git config user.email "vfelix1553@gmail.com"

      # 3️⃣ Fazer merge do PR para main
      - name: Merge PR into main
        run: |
          git checkout main
          git merge ${{ github.event.pull_request.head.ref }} --no-ff -m "Merge PR #${{ github.event.pull_request.number }} via bot"
          git push https://x-access-token:${{ secrets.BOT_TOKEN }}@github.com/linvex-software/lvx-ecommerce.git main
